/** @format */

body {
  margin: 0;
  font-family: Quicksand !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: black;
}

code {
  font-family: Quicksand !important;
}
html {
  font-family: Quicksand !important;
}

.product-variants-item:not(:last-child) {
  margin-bottom: 23px;
}
.product-variants-item .control-label {
  color: #000;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 134px;
  margin-bottom: 18px;
}

.product-variants-item ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  overflow: hidden;
}
.product-variants-item ul li:first-child {
  margin-left: 0;
}

.product-variants-item .input-container {
  position: relative;
}

.product-variants-item ul li {
  margin: 2px 5px;
  display: inline-block;
  line-height: 1;
}
.product-variants-item .input-container .input-radio:focus {
  background: #000;
  color: #fff;
}

.product-variants-item .input-radio {
  cursor: pointer;
  position: absolute;
  top: 0;
  cursor: pointer;
  appearance: none;
  min-width: 34px;
  padding: 0px 7px;
  width: 100%;
  height: 34px;
  outline: none;
}
.product-variants-item .input-container .input-radio:force ~ .radio-label {
  color: #fff;
  position: relative;
  background: transparent;
}
.product-variants-item .radio-label {
  font-size: 12px;
  box-shadow: none;
  display: inline-block;
  min-width: 34px;
  padding: 0px 15px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #ebebeb;
  color: #666;
}
