/** @format */

body {
  margin: 0;
  font-family: Quicksand !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: black;
}

code {
  font-family: Quicksand !important;
}
html {
  font-family: Quicksand !important;
}

 .product-variants-item:not(:last-child) {
  margin-bottom: 23px;
}
.product-variants-item .control-label {
  color: #000;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 134px;
  margin-bottom: 18px;
}

.product-variants-item ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
}
.product-variants-item ul li:first-child {
    margin-left: 0;
}

.product-variants-item .input-container {
    position: relative;
}
